body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.5)
  );
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-form {
  margin-top: 50px;
  display: flex;
  align-items: center;
}

.search-form input {
  padding: 10px;
  font-size: 1.2em;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
  outline: none;
  width: 300px;
}

.search-form button {
  padding: 10px 15px;
  font-size: 1.2em;
  background-color: #007bff;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 0 4px 4px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-form button i {
  margin: 0;
}

.search-form button:hover {
  background-color: #0056b3;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 15px;
  margin-top: 20px;
  width: 100%;
  max-width: 1200px;
}

.photo-card {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.photo-card img {
  width: 100%;
  height: auto;
  display: block;
}

.photo-card .info {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.photo-card .info-item {
  margin: 0;
  font-size: 0.9em;
}

.load-more {
  padding: 10px 20px;
  font-size: 1.2em;
  background-color: #5d7fbf;
  border: none;
  color: white;
  cursor: pointer;
  margin: 20px 0;
  border-radius: 4px;
}

.load-more:hover {
  background-color: #dfbb59;
}
